recovery_only(`
  permissive recovery;
  permissive init;
  permissive logd;
  permissive adbd;
  permissive fastbootd;
  permissive kernel;
  allow kernel tmpfs:file { read };
  allow kernel recovery:fd { use };
')
